@using System.Data
@using DBTest
@model DBTest.DatabaseComparer

<link rel="stylesheet" href="~/css/PartialViewCss/Comparing.css" />
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <tr>
            @for (int i = 0; i < Model.FirstDatabase.SelectedColumns.Count; i++)
            {
                <td>@Model.FirstDatabase.SelectedColumns[i]/@Model.SecondDatabase.SelectedColumns[i]</td>
            }
        </tr>
        @{
            var min = Math.Min(Model.ComparingResult[1].Count, Model.ComparingResult[2].Count);
            for (int i = 0; i < min; i++)
            {
                <tr>
                    @for (int j = 0; j < Model.FirstDatabase.SelectedColumns.Count; j++)
                    {
                    <td>@Model.ComparingResult[1][i][j]/@Model.ComparingResult[2][i][j]</td>
                    }
                </tr>
            }
        }
    </table>
</div>

