@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/PartialViewCss/DownloadFiles.css" />
<h1 style="margin-top: 70px">Upload databases</h1>
<hr />
<div class="container-fluid">
    <div class="container-fluid" id="containerChooseDB">

        <div class="col-md-6 container-fluid" id="sourceBD">
            <div class="col-md-12">
                <h2 class="text-center"> Connect to /Source</h2>
            </div>
            <hr class='custom-hr' />
            <div class="containerChooseSource container-fluid">
                <ul class="list-inline list-db text-center">
                    <li>
                        <div class="parent">
                            <label class="btn">
                                <img class="image-db-source" src="~/images/SqlServerChoose.svg" alt="SqlServer" srcset="" style="width: 15vmin;height: 15vmin;">
                                <input type="radio" name="dbCheck" id="dbCheck" value="sqlServer" class="hidden" autocomplete="off">
                                <img class="img-ok-source hidden" src="~/images/OK.svg" style="width: 0vmin;height: 0vmin;" />
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="parent">
                            <label class="btn">
                                <img class="image-db-source" src="~/images/MySqlChoose.svg" alt="MySql" srcset="" style="width: 15vmin;height: 15vmin;">
                                <input type="radio" name="dbCheck" id="dbCheck" value="mySql" class="hidden" autocomplete="off">
                                <img class="img-ok-source hidden" src="~/images/OK.svg" style="width: 5vmin;height: 5vmin;" />
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="parent">
                            <label class="btn">
                                <img class="image-db-source" src="~/images/SqlServerChoose.svg" alt="SqlServer" srcset="" style="width: 15vmin;height: 15vmin;">
                                <input type="radio" name="dbCheck" id="dbCheck" value="sqlServer" class="hidden" autocomplete="off">
                                <img class="img-ok-source hidden" src="~/images/OK.svg" style="width: 5vmin;height: 5vmin;" />
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="parent">
                            <label class="btn">
                                <img class="image-db-source" src="~/images/MySqlChoose.svg" alt="MySql" srcset="" style="width: 15vmin;height: 15vmin;">
                                <input type="radio" name="dbCheck" id="dbCheck" value="mySql" class="hidden" autocomplete="off">
                                <img class="img-ok-source hidden" src="~/images/OK.svg" style="width: 5vmin;height: 5vmin;" />
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <hr class='custom-hr' />
            <div id="chooseConnect-source-div"></div>
            <div id="connectTo-source-div"></div>
        </div>
        <div class="col-md-6 container-fluid" id="targetBD">
            <div class="col-md-12">
                <h2 class="text-center">Connect to /Target</h2>
            </div>
            <hr class='custom-hr' />
            <div class="containerChooseTarget container-fluid">
                <ul class="list-inline list-db text-center">
                    <li>
                        <div class="parent">
                            <label class="btn">
                                <img class="image-db-target" src="~/images/SqlServerChoose.svg" alt="SqlServer" srcset="" style="width: 15vmin;height: 15vmin;">
                                <input type="radio" name="dbCheckTarget" id="dbCheck" value="sqlServer" class="hidden" autocomplete="off">
                                <img class="img-ok-target hidden" src="~/images/OK.svg" style="width: 0vmin;height: 0vmin;" />
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="parent">
                            <label class="btn">
                                <img class="image-db-target" src="~/images/MySqlChoose.svg" alt="MySql" srcset="" style="width: 15vmin;height: 15vmin;">
                                <input type="radio" name="dbCheckTarget" id="dbCheck" value="mySql" class="hidden" autocomplete="off">
                                <img class="img-ok-target hidden" src="~/images/OK.svg" style="width: 5vmin;height: 5vmin;" />
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="parent">
                            <label class="btn">
                                <img class="image-db-target" src="~/images/SqlServerChoose.svg" alt="SqlServer" srcset="" style="width: 15vmin;height: 15vmin;">
                                <input type="radio" name="dbCheckTarget" id="dbCheck" value="sqlServer" class="hidden" autocomplete="off">
                                <img class="img-ok-target hidden" src="~/images/OK.svg" style="width: 5vmin;height: 5vmin;" />
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="parent">
                            <label class="btn">
                                <img class="image-db-target" src="~/images/MySqlChoose.svg" alt="MySql" srcset="" style="width: 15vmin;height: 15vmin;">
                                <input type="radio" name="dbCheckTarget" id="dbCheck" value="mySql" class="hidden" autocomplete="off">
                                <img class="img-ok-target hidden" src="~/images/OK.svg" style="width: 5vmin;height: 5vmin;" />
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <hr class='custom-hr' />
            <div id="chooseConnect-target-div"></div>
            <div id="connectTo-target-div"></div>
        </div>
    </div>



    @*<div class="row">
        <div class="container-fluid col-md-6" id="Drop1">
            <form action="/Home/Upload/?id=1" class="dropzone dz-clickable dropable" id="Upload1"></form>
            <div class="panel" style="visibility:hidden" id="Res1">
                <div class="panel-heading"></div>
            </div>
        </div>

        <div class="container-fluid col-md-6" id="Drop2">
            <form action="/Home/Upload/?id=2" class="dropzone dz-clickable dropable" id="Upload2"></form>
            <div class="panel" style="visibility:hidden" id="Res2">
                <div class="panel-heading"></div>
            </div>
        </div>
    </div>*@
    @* <h6><button type="button" class="btn-lg" id="NextStep">NEXT STEP</button></h6>*@
    <button type="button" class="btn-lg btn-block btn-primary-custom" id="GoTableInfo">Check tables from DB</button>
    <button type="button" class="btn-lg btn-block btn-default-custom" id="Back" style="margin-bottom:1.5vmin;">Back</button>
</div>

<script src="~/js/dropzone.js"></script>

<script>
    $("#GoTableInfo").click(function () {
        waitingDialog.show();
        $.ajax({
            url: "TableInfo",
            type: "POST",
            success: function (result) {
                waitingDialog.hide();
                $("#Partial").html(result);
            }
        });
    });

    function ReturnInfo(elem, result) {
        $(elem).css("visibility", "visible");
        $(elem).removeClass("panel-danger panel-success");
        if (result == true) {
            $(elem).find("div").text("Connection established");
            $(elem).addClass("panel-success");
        }
        else {
            $(elem).find("div").text("Connection not established");
            $(elem).addClass("panel-danger");
        }
    }

    $(function () {
        //Dropzone.options.Upload1 = {
        //    uploadMultiple: false,
        //    timeout: 9999999,
        //    acceptedFiles: ".mdf,.sql,.xml",
        //};
        //Dropzone.options.Upload2 = Dropzone.options.Upload1;

        //var dropzones = $(".dropable").toArray();

        //dropzones.forEach(function (item, i, dropzones) {
        //    $(item).dropzone({
        //        url: "/Home/Upload/?id=" + (i + 1),
        //        success: function (file, response) {
        //            if (response == true)
        //                ReturnInfo($(item).parent().find(".panel"), response);
        //            else
        //                $('#myModal').modal('show');
        //        }
        //    });
        //});
    });

    $("#Back").click(function () {
        waitingDialog.show();
        $.ajax({
            url: "Index",
            type: "POST",
            success: function (result) {
                waitingDialog.hide();
                $("#Partial").html(result);
            }
        });
    });



    function chooseSQL_DB(IDbackToChoose, IDbtn_connectToSql_file, IDbtn_connectToSql_remote) {
        var _chooseSQL_DB = "<hr class='custom-hr'/>" + "<div class='containerConnect container-fluid'>" +
            "<button type='button' class='btn btn-block btn-File-Remote' id=" + IDbtn_connectToSql_file +
            ">Connect to File</button>" +
            "<button type='button' class='btn btn-block btn-File-Remote' id=" + IDbtn_connectToSql_remote +
            ">Remote connection</button>" +
            "</div>" +
            "<div class='containerConnect container-fluid  text-center'>" +
            "<div class='wrapper-btn'>" +
            " <button id=" + IDbackToChoose + " class='btn-back' type='submit'>Back!</button>" +
            "</div>" +
            "</div>" + "<hr class='custom-hr'/>";
        return _chooseSQL_DB;
    }

    function chooseMySQL_DB(IDbackToChoose, IDbtn_connectToMySql_remote) {
        var _chooseMySQL_DB = "<hr class='custom-hr'/>" + "<div class='containerConnect container-fluid'>" +
            "<button type='button' class='btn btn-block btn-File-Remote' id=" + IDbtn_connectToMySql_remote +
            ">Remote connection</button>" +
            "</div>" +
            "<div class='containerConnect container-fluid  text-center'>" +
            "<div class='wrapper-btn'>" +
            " <button id=" + IDbackToChoose + " class='btn-back' type='submit'>Back!</button>" +
            "</div>" +
            "</div>" + "<hr class='custom-hr'/>";
        return _chooseMySQL_DB;
    }

    function connectToFile(ID_my_dropzon_div, ID_my_dropzon, IdUpload, backToChooseConnect) {
        var _connectToFile = "<hr class='custom-hr'/>" +
            '<div class=" containerConnect container-fluid col-md-12" id=' + ID_my_dropzon_div + '>' +
            '            <form action="/Home/Upload/?id='+IdUpload+'" class="dropzone dz-clickable dropable" id=' + ID_my_dropzon + '></form>' +
            '            <div class="panel" style="visibility:hidden" id="Res1">' +
            "                <div class='panel-heading'></div>" +
            "            </div>" +
            "      </div>" +
           " <div class='containerConnect container-fluid col-md-12 text-center'>"+
            "<div class='wrapper-btn'>" +
            " <button id=" + backToChooseConnect + " class='btn-back' type='submit'>Back!</button>" +
            "</div>" +"</div>" + "<hr class='custom-hr'/>";

        return _connectToFile;
    }

    function connectToRemote(Id_ip, Id_port, Id_name, Id_btnBack) {
        var _connectToRemote = "<hr class='custom-hr'/>" + "<div class='containerConnect container-fluid'>" +
            " <form>" +
            "<div class='form-group'>" +
            "<label for=" + Id_ip + ">IP address</label>" +
            "<input type='number' class='form-control' id= " + Id_ip + " placeholder='Enter IP'>" +
            "</div>" +
            "<div class='form-group'>" +
            "<label for=" + Id_port + ">Port</label>" +
            "<input type='number' class='form-control' id=" + Id_port + " placeholder='Enter Port'>" +
            "</div>" +
            "<div class='form-group'>" +
            "<label for=" + Id_name + ">Database name</label>" +
            "<input type='text' class='form-control' id=" + Id_name + " placeholder='Enter db name'>" +
            "</div>" +
            "<button type='submit' class='btn btn-block btn-primary'>Next</button>" +
            "<small id='emailHelp' class='form-text text-muted'>We'll never share your credits with anyone else.</small>" +
            "</form>" +
            "<div class='containerConnect container-fluid  text-center'>" +
            "<div class='wrapper-btn'>" +
            " <button id=" + Id_btnBack + " class='btn-back' type='submit'>Back!</button>" +
            "</div>" +
            "</div>" +
            "</div>" + "<hr class='custom-hr'/>";
        return _connectToRemote;
    }

    $(document).ready(function (e) {
        $('.image-db-source').click(function (e) {
            $('.image-db-source').not(this).removeClass('check')
                .siblings('input').prop('checked', false);
            $(this).addClass('check')
                .siblings('input').prop('checked', true);

            $('.img-ok-source').not(this).addClass('hidden')
            $(this).siblings('img').removeClass("hidden");
            $(this).siblings('img').css({
                'width': '0vmin',
                'height': '0vmin'
            })
            $(this).siblings('img').animate({
                width: '5vmin',
                height: '5vmin'
            });

            function backToChooseSourceDB_Source() {
                $("#backToChooseSource").click(function () {
                    $("#chooseConnect-source-div").empty();
                    $(".containerChooseSource").removeClass("inactiveDiv");
                    $('.img-ok-source').addClass('hidden');
                    $('.image-db-source').removeClass('check')
                });
            };

            function backToChooseConnect_Source() {
                $("#backToChooseConnect").click(function () {
                    $("#connectTo-source-div").empty();
                    $("#chooseConnect-source-div").removeClass("inactiveDiv");
                });
            };
            var SourcedbType = "";
            SourcedbType = $("input[name=dbCheck]:checked").val();
            switch (SourcedbType) {
                case "mySql":
                    $("#chooseConnect-source-div").empty();
                    $("#chooseConnect-source-div").append(chooseMySQL_DB("backToChooseSource",
                        "btn-connectToMySql-remote"));
                    $(".containerChooseSource").addClass("inactiveDiv");
                    backToChooseSourceDB_Source();
                    $('#btn-connectToMySql-remote').click(function () {
                        $("#connectTo-source-div").empty();
                        $("#connectTo-source-div").append(connectToRemote('ipSource',
                            'portSource', 'nameSource', 'backToChooseConnect'));
                        $("#chooseConnect-source-div").addClass("inactiveDiv");
                        backToChooseConnect_Source();
                    });
                    break;

                case "sqlServer":
                    $("#chooseConnect-source-div").empty();
                    $("#chooseConnect-source-div").append(chooseSQL_DB("backToChooseSource",
                        "btn-connectToSql-file", "btn-connectToSql-remote"));
                    $(".containerChooseSource").addClass("inactiveDiv");
                    backToChooseSourceDB_Source();
                    $('#btn-connectToSql-file').click(function () {
                        $("#connectTo-source-div").empty();
                        $("#connectTo-source-div").append(connectToFile("Drop1","Upload1", 1,
                            "backToChooseConnect"));
                        $("#chooseConnect-source-div").addClass("inactiveDiv");

                        backToChooseConnect_Source();

                        Dropzone.options.Upload1= {
                            uploadMultiple: false,
                            timeout: 9999999,
                            acceptedFiles: ".mdf,.sql,.xml",
                        };

                        $("#Upload1").dropzone({
                            url: "/Home/Upload/?id=1",
                            success: function (file, response) {
                                if (response == true)
                                    ReturnInfo($("#Upload1").parent().find(".panel"), response);
                                else
                                    $('#myModal').modal('show');

                            }
                        });
                   
                    });
                   
                    $('#btn-connectToSql-remote').click(function () {
                        $("#connectTo-source-div").empty();
                        $("#connectTo-source-div").append(connectToRemote('ipSourceSQL',
                            'portSourceSQL', 'nameSourceSQL', 'backToChooseConnect'));
                        $("#chooseConnect-source-div").addClass("inactiveDiv");
                        backToChooseConnect_Source();
                    });
                    break;

                case "none":
                    alert("kurrwa");
                    break;
            }
        });
    });

    $(document).ready(function (e) {
        $('.image-db-target').click(function (e) {
            $('.image-db-target').not(this).removeClass('check')
                .siblings('input').prop('checked', false);
            $(this).addClass('check')
                .siblings('input').prop('checked', true);

            $('.img-ok-target').not(this).addClass('hidden')
            $(this).siblings('img').removeClass("hidden");
            $(this).siblings('img').css({
                'width': '0vmin',
                'height': '0vmin'
            })
            $(this).siblings('img').animate({
                width: '5vmin',
                height: '5vmin'
            });

            function backToChooseSourceDB_Target() {
                $("#backToChooseTarget").click(function () {
                    $("#chooseConnect-target-div").empty();
                    $(".containerChooseTarget").removeClass("inactiveDiv");
                    $('.img-ok-target').addClass('hidden');
                    $('.image-db-target').removeClass('check')
                });
            };

            function backToChooseConnect_Target() {
                $("#backToChooseConnectTarget").click(function () {
                    $("#connectTo-target-div").empty();
                    $("#chooseConnect-target-div").removeClass("inactiveDiv");
                });
            };
            var TargetdbType = "";
            TargetdbType = $("input[name=dbCheckTarget]:checked").val();
            switch (TargetdbType) {
                case "mySql":
                    $("#chooseConnect-target-div").empty();
                    $("#chooseConnect-target-div").append(chooseMySQL_DB("backToChooseTarget",
                        "btn-connectToMySql-remote-target"));
                    $(".containerChooseTarget").addClass("inactiveDiv");
                    backToChooseSourceDB_Target();
                    $('#btn-connectToMySql-remote-target').click(function () {
                        $("#connectTo-target-div").empty();
                        $("#connectTo-target-div").append(connectToRemote('ipTarget',
                            'portTarget', 'nameTarget', 'backToChooseConnectTarget'));
                        $("#chooseConnect-target-div").addClass("inactiveDiv");
                        backToChooseConnect_Target();
                    });
                    break;

                case "sqlServer":
                    $("#chooseConnect-target-div").empty();
                    $("#chooseConnect-target-div").append(chooseSQL_DB("backToChooseTarget",
                        "btn-connectToSql-file-target", "btn-connectToSql-remote-target"));
                    $(".containerChooseTarget").addClass("inactiveDiv");
                    backToChooseSourceDB_Target();
                    $('#btn-connectToSql-file-target').click(function () {
                        $("#connectTo-target-div").empty();
                        $("#connectTo-target-div").append(connectToFile("Drop2", "Upload2", 2,
                            "backToChooseConnectTarget"));
                        backToChooseConnect_Target();
                        $("#chooseConnect-target-div").addClass("inactiveDiv");

                        Dropzone.options.Upload2 = {
                            uploadMultiple: false,
                            timeout: 9999999,
                            acceptedFiles: ".mdf,.sql,.xml",
                        };
                        
                            $("#Upload2").dropzone({
                                url: "/Home/Upload/?id=2" ,
                                success: function (file, response) {
                                    if (response == true)
                                        ReturnInfo($("#Upload2").parent().find(".panel"), response);
                                    else
                                        $('#myModal').modal('show');

                                } 
                        }); 
                        
                    });

                    $('#btn-connectToSql-remote-target').click(function () {
                        $("#connectTo-target-div").empty();
                        $("#connectTo-target-div").append(connectToRemote('ipTargetSQL',
                            'portTargetSQL', 'nameTargetSQL',
                            'backToChooseConnectTarget'));
                        $("#chooseConnect-target-div").addClass("inactiveDiv");
                        backToChooseConnect_Target();
                    });
                    break;

                case "none":
                    alert("kurrwa");
                    break;
            }
        });
    });


</script>
