
@model DbComparer.Database
@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" href="~/css/PartialViewCss/AboutUs.css" />

<div class="container-fluid" id="div-aboutUs">
    <h1 id="aboutUs-title" style="padding-top:70px">About Us</h1>
    <hr />
    <div class=" aligner-center" id="textBlock-aboutUs">
        <p>
            <strong>Hi!</strong> We created this project for verification migrations from diiferent databases.
            And also it was our graduate work ...
        </p>
    </div>

    <div class="container-fluid">
        <div class="col-md-6 aligner-center" id="informDiv-aboutUs-img">
            <img src="~/images/person-male.png" class="img-responsive" style="width:auto;height:30vmin" alt="Romannn" />
        </div>
        <div class="col-md-6" id="informDiv-aboutUs-text">
            <div>
                <ul>
                    <li>back-end</li>
                    <li>back-end</li>
                    <li>back-end</li>
                    <li>back-end</li>
                    <li>back-end</li>
                    <li>back-end</li>
                </ul>
            </div>
            <div class="container-fluid">
                <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-0 text-center">
                    <img src="~/images/icons8-dropbox.svg" class="img-responsive center-block" alt="Dropbox" />
                </div>
                <div class="col-md-2 col-md-offset-1 col-sm-4 col-sm-offset-0 text-center">

                    <img src="~/images/icons8-onedrive.svg" class="img-responsive center-block" alt="Onedrive" />

                </div>
                <div class="col-md-2 col-md-offset-1 col-sm-4 col-sm-offset-0 text-center">

                    <img src="~/images/icons8-google-drive.svg" class="img-responsive center-block" alt="Google_Drive" />
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>

    @*<div class="col-md-12 aligner-center">
            <img src="~/images/index1.5.svg" class="img-responsive center-block" alt="Onedrive" style="width: 100%; height: auto;" />
        </div>*@
