
@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" href="~/css/PartialViewCss/AboutUs.css" />

<div class="container-fluid"  id="containers-aboutUs">
    <h1 id="aboutUs-title" style="padding-top:70px">About Us</h1>
    <hr />
    <div class="">
        <div class="container-fluid" id="containers-aboutUs">
            <div class="col-md-3 text-right" id="aboutUs-title-img">
                <img src="~/images/index1.5.svg" style="width: auto; height: 17vmin;padding: 0.5vmin " ; alt="">
            </div>
            <div class="col-md-9 text-left">
                <h1 id="aboutUs-title">Hi....</h1>
                <p id="aboutUs-title-txt">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi eius excepturi earum autem nisi atque accusantium
                    sit. Rem cum deleniti voluptates hic error vel eos, nemo at iure. Nesciunt, aliquid!
                </p>
            </div>
        </div>

        <div class="container-fluid aboutUs-inform" id="containers-aboutUs">
            <h1>Something about Us</h1>
        </div>

        <div class="container-fluid" id="containers-aboutUs">
            <div class="col-md-6 person-img text-right no-margin-padding">
                <img src="~/images/person-male.png" alt="">
            </div>
            <div class="container-fluid col-md-6 no-margin-padding">
                <div class="row col-md-12 person-txt text-left no-margin-padding">
                    <ul class="ul-left-border">
                        <h1 id="aboutUs-title">Roman Danyliv</h1>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quae cum illum est fugiat labore nisi
                            commodi. Saepe beatae non quasi doloremque! Temporibus, totam cumque voluptatem qui at earum
                            recusandae?
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestiae, blanditiis placeat pariatur,
                            dolor quia sit voluptatum exercitationem doloremque recusandae voluptatibus consequatur vero,
                            adipisci officia ipsa corrupti ipsam quidem velit.
                        </li>
                    </ul>
                </div>
                <div class=" row col-md-12 person-social no-margin-padding">
                    <img src="image/linkedin-logo.svg" alt="linkedin">
                    <img src="image/facebook-letter-logo.svg" alt="facebook">
                    <img src="image/twitter-logo.svg" alt="twitter">
                    <img src="image/github-logo.svg" alt="github">
                </div>
            </div>
        </div>

        <div class="container-fluid" id="containers-aboutUs">
            <div class="col-md-6 person-img text-left no-margin-padding col-md-push-6">
                <img src="~/images/person-male.png" alt="">
            </div>
            <div class="container-fluid col-md-6 col-md-pull-6 no-margin-padding ">
                <div class="row col-md-12 person-txt text-right no-margin-padding">
                    <ul class="ul-right-border">
                        <h1 id="aboutUs-title">Vasyl Antal</h1>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quae cum illum est fugiat labore nisi
                            commodi. Saepe beatae non quasi doloremque! Temporibus, totam cumque voluptatem qui at earum
                            recusandae?
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestiae, blanditiis placeat pariatur,
                            dolor quia sit voluptatum exercitationem doloremque recusandae voluptatibus consequatur vero,
                            adipisci officia ipsa corrupti ipsam quidem velit.
                        </li>
                    </ul>
                </div>
                <div class=" row col-md-12 person-social no-margin-padding">
                    <img src="image/linkedin-logo.svg" alt="linkedin">
                    <img src="image/facebook-letter-logo.svg" alt="facebook">
                    <img src="image/twitter-logo.svg" alt="twitter">
                    <img src="image/github-logo.svg" alt="github">
                </div>
            </div>

        </div>

        <div class="container-fluid no-margin-padding aboutUs-ideas">
            <div class="col-md-6 text-right">
                like our project?
            </div>
            <div class="col-md-6 text-left"><div><a decoration-a-aboutUs href="#">Try it</a></div></div>
        </div>
    </div>
</div>