@model DBTest.DatabaseComparer

@{
    ViewBag.Title = "Comparer";
}
<script src="~/js/Loading.js"></script>

<div class="container-fluid" id="Partial">

    @Html.Partial("_DownloadFiles",Model);

</div>

<script>
    window.onbeforeunload = function () {
        $.ajax({
            async: true, 
            url: "PageClosedAction",
            type: "POST",
            data: { page: "Comparer"}
        });
    };
</script>

