@{
    ViewData["Title"] = "Home Page";
}

<style>

    .container-fluid {
        padding: 0;
        margin: 0;
    }

    .inform-block {
        height: 50vh;
    }

    .top-block {
        height: 80vh;
        background-color: white;
        vertical-align: middle;
    }

    .top-block-under {
        height: 20vh;
        background-color: #487eb0;
        vertical-align: middle;
    }

    #top-block-under-text {
        color: white !important;
        margin-top: 0.01vmin;
        margin-right: 2vmin;
    }

    .aligner-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-header {
        background-color: transparent;
        margin-right: 5vmin;
    }

    #index-opp-block {
        background-color: #ecf0f1;
        color: #40739e;
    }
</style>

<!-- First Container -->
<div class="container-fluid ">
    <div class="row"></div>
    <div class="col-md-6 top-block aligner-center">
        <img src="~/images/index1.5.svg" class="img-responsive center-block" alt="Onedrive" style="width: 100%; height: auto;" />
    </div>
    <div class="col-md-6 top-block aligner-center">
        <div class="text-header">
            <div class="col-md-12">
                <h1 class="text-center">Header</h1>
                <h4 class="text-left">
                    1If you're using Bootstrap v3.0.1 or greater, you should use this solution instead. It doesn't override Bootstrap's styles with custom CSS, but instead uses a Bootstrap feature.
                </h4>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-primary btn-lg active btn-block btn-primary-custom" id="">Start comparing</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-default btn-lg active  btn-block btn-default-custom" id="" data-toggle="modal" data-target="#myModal">Show demonstration</button>
            </div>
        </div>
    </div>
    <div class="col-md-12 top-block-under aligner-center">
        <h1 id="top-block-under-text">Some Text ololololololooolololo</h1>
        <button type="button" class="btn btn-default btn-lg active btn-default-custom" id=""data-toggle="modal" data-target="#myModal">Show demonstration</button>

    </div>
</div>
<div class="container-fluid" id="index-opp-block">
    <h1 class="text-center">You can use cloud</h1>
    <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-0 text-center">
        <img src="~/images/icons8-dropbox.svg" class="img-responsive center-block" alt="Dropbox" />
        <h4 class="">Dropbox</h4>
    </div>
    <div class="col-md-2 col-md-offset-1 col-sm-4 col-sm-offset-0 text-center">

        <img src="~/images/icons8-onedrive.svg" class="img-responsive center-block" alt="Onedrive" />
        <h4 class="text-center">Onedrive</h4>

    </div>
    <div class="col-md-2 col-md-offset-1 col-sm-4 col-sm-offset-0 text-center">

        <img src="~/images/icons8-google-drive.svg" class="img-responsive center-block" alt="Google_Drive" />
        <h4 class="text-center">Google Drive</h4>

    </div>

</div>

<div class="col-lg-6 inform-block aligner-center" style="background-color:#fdcb6e">
    <img src="~/images/загружено.png" class="img-responsive" alt="Alternate Text" />
</div>
<div class="col-lg-6 inform-block aligner-center" style="color:#fdcb6e">
    <h3>Some text Some text Some text Some text Some text Some text Some text</h3>
</div>

<div class="col-lg-6 inform-block aligner-center" style="color:#0984e3">
    <h3>Some text Some text Some text Some text Some text Some text Some text</h3>
</div>
<div class="col-lg-6 inform-block aligner-center" style="background-color:#0984e3">
    <img src="~/images/загружено.png" class="img-responsive" alt="Alternate Text" />
</div>

<div class="col-lg-6 inform-block aligner-center" style="background-color:#d63031">
    <img src="~/images/загружено.png" class="img-responsive" alt="Alternate Text" />
</div>
<div class="col-lg-6 inform-block aligner-center" style="color:#d63031">
    <h3>Some text Some text Some text Some text Some text Some text Some text</h3>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
