@{
    ViewData["Title"] = "Home Page";
}

<style>
    .margin {
        margin-bottom: 45px;
    }

    .bg-1 {
        background-color: #1abc9c; /* Green */
        color: #ffffff;
        height: 11vh;
    }

    .bg-2 {
        background-color: #474e5d; /* Dark Blue */
        color: #ffffff;
    }

    .bg-3 {
        background-color: #ffffff; /* White */
        color: #555555;
    }

    .bg-4 {
        background-color: #2f2f2f; /* Black Gray */
        color: #fff;
    }

    .container-fluid {
        padding: 0;
        margin: 0;
    }

    .top-block {
        
        height: 100vh;       
        background-color:red;
    }


    .inform-block {
        height: 50vh;
    }
    .color{
        background-color:seagreen;
    }
</style>

<!-- First Container -->
<div class="container-fluid top-block">

</div>

<div class="col-lg-6 inform-block color "></div>
<div class="col-lg-6 inform-block"></div>

<div class="col-lg-6 inform-block"></div>
<div class="col-lg-6 inform-block color"></div>

<div class="col-lg-6 inform-block color"></div>
<div class="col-lg-6 inform-block"></div>
