@font-face {
    font-family: "RobotoSlabRegular";
    src: url("../font/RobotoSlab-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoSlabBold";
    src: url("../font/RobotoSlab-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoSlabLight";
    src: url("../font/RobotoSlab-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoSlabThin";
    src: url("../font/RobotoSlab-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html,
body {
    overflow-x: hidden;
    font-family: "RobotoSlabRegular", Helvetica, Arial, sans-serif;
}
.body-content {
    min-height: 90vh;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*--------------------------------------------------*/
/*--------------------------------------------------*/


.navbar {
    border: none !important;
    color: black;
}
.navbar {
    background-color: #40739e;
}

.color-nav {
    color: #ffffff !important;
    text-decoration: none;
    transition-duration: 0.4s;
}

    .color-nav:hover {
        transition-duration: 0.5s;
        zoom: 1.001;
        color: #dfe6e9 !important;
    }

.navbar {
    min-height: 70px;
}

.navbar-brand {
    padding: 0 15px;
    height: 70px;
    line-height: 70px;
}

.navbar-toggle {
    /* (80px - высота кнопки 34px) / 2 = 23px */
    margin-top: 18px;
    padding: 8px 9px !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        /* (80px - line-height 27px) / 2 = 21.5px */
        padding-top: 21.5px;
        padding-bottom: 2.5px;
        line-height: 22px;
    }
}

.shrink {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    color: blue;
    padding: 1vmin !important;
}


#footer {
    background-color: #487eb0;
    color:white;
    height:10vh;
}