html,
body {
    overflow-x: hidden; 
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*--------------------------------------------------*/
/*--------------------------------------------------*/


.navbar {
    border: none !important;
    color:black;
}


.colorNav {
    color: blue;
    text-decoration: none;
}

.shrink {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    color: blue;
    padding:1vh;
}