#aboutUs-title {
    text-decoration: underline;
    text-decoration-color: #038387;
    text-decoration-style: solid;
}
#div-aboutUs{
    margin:0;
    padding:0;
}
#textBlock-aboutUs {
    min-height: 15vmin;
    background-color: white;
    color: #40739e;
    margin-left: 15vmin;
    margin-right: 15vmin;
    font-size:3vmin;
}
#informDiv-aboutUs-img{
    height:35vmin;
}
.person-list{
    height:25vmin;
}
    .person-social{
        height:15vmin;
    }
    #informDiv-aboutUs-text {
        height: 35vmin;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }